body {
    background-color: lightyellow;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

.champion-dropdown {
    text-align: center;
}

div.champion-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

div.card {
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 7px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.card:hover .image {
    opacity: 0.3;
    box-shadow: 9px 9px 0px gray;
}
  
.card:hover .middle {
    opacity: 1;
}

img {
    width: 250px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

img.clip {
    object-fit: cover;
    height: 282px;
    width: 250px;
}

div.list {
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0 0 0 0;
}

li {
    text-align: left;
    padding: 3px;
    background: beige;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

form {
    text-align: center;
    background: beige;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 500px;
}

    /* was inside div.champion-cards
    display: grid;
    grid-gap: 10px;
    justify-content: center;*/


/*@media (min-width: 1870px) {
    div.champion-cards{
        grid-template: auto / repeat(5, 1fr);
    }
}

@media (min-width: 1600px) and (max-width: 1870px) {
    div.champion-cards{
        grid-template: auto / repeat(4, 1fr);
    }
}

@media (min-width: 1350px) and (max-width: 1600px) {
    div.champion-cards{
        grid-template: auto / repeat(3, 1fr);
    }
}

@media (min-width: 1090px) and (max-width: 1350px) {
    div.champion-cards{
        grid-template: auto / repeat(2, 1fr);
    }
}

@media (min-width: 833px) and (max-width: 1090px) {
    div.champion-cards{
        grid-template: auto / repeat(2, 1fr); 
    }
}

@media (min-width: 555px) and (max-width: 833px) {
    div.champion-cards{
        grid-template: auto / repeat(1, 1fr);
    }
}

@media (max-width: 555px) {
    div.champion-cards{
        grid-template: auto / 1fr; 
    }
}*/
